body {
    background: rgb(39, 13, 168);
    font: normal 16pt 'Ubuntu';
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.553);
}

div {
    text-align: center;
    padding: 6px;
}

img#img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}